* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* shared style */
.g-beautification {
    color: #FF42A5;
}

.text-beutify {
    color: #8758F1;
}

.text-primary {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.text-secondary {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.btn-primary {
    background-color: #6b647a;
    color: #FFFFFF;
    padding: 21px 40px;
    border-radius: 48px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin-right: 15px;
}

.btn-secondary {
    background-color: #4EC5F7;
    color: #FFFFFF;
    padding: 21px 40px;
    border-radius: 48px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
}

/* header styles */
header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 240px;
}

.nav-title-container {
    display: flex;
    align-items: center;
}

.nav-title-container img {
    width: 86.041px;
    height: 40px;
}

.nav-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    padding-left: 20px;
    color: #0B0223;
}

nav ul {
    display: flex;
    text-align: center;
}

nav li {
    list-style: none;
    padding: 35px 32px 0 32px;
    font-size: 18px;
    font-weight: 500;
    color: #3C354F;
}

.nav-item-follow {
    width: 262px;
    height: 56px;
    flex-shrink: 0;
    background-color: #0B02231A;
    border-radius: 8px;
}

.nav-icon {
    width: 33.916px;
    height: 24px;
}

/* top banner styles */
.top-banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 280px;
    background: #fcfbfb;
    margin-bottom: 80px;
    padding-bottom: 10px;
}

.top-banner-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

#top-banner-goat {
    font-size: 95px;
    font-weight: 800;
    color: #8758F1;

}

.top-banner-info-container p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.top-banner-img-container img {
    width: 100%;
}

/* online games style  */

.online-game-container {
    text-align: center;
    padding: 40px 240px;
    background-color: #FFFFFF;
}

.online-games {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    padding-top: 50px;
    gap: 24px;
}

.game p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: start;
}

/* play instant's section style  */
.play-instant-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 120px 120px;
    background: #fcfbfb;
}
.playing-info-container{
    text-align: right;
}
.players img{
    width: 80%;
}
#player-hero{
    position: relative;
    margin-left: 200px;
}
#player-heroin{
    position: relative;
    margin-top: -280px;
    margin-left: 50px;
    width: 60%;
    
}


/* Smaller(Mobile) devices query*/
@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
        padding: 10% 5%;
    }

    nav ul {
        flex-direction: column;
        padding-left: 0;
    }

    .nav-item-follow {
        margin-top: 60px;
    }

    .top-banner-container {
        flex-direction: column-reverse;
        padding: 0 2%;
        gap: 50px;
    }

    .btn-primary {
        padding: 15px 30px;
    }

    .btn-secondary {
        padding: 15px 30px;
    }
    .online-game-container{
        padding: 0;
    }
    .online-games {
        grid-template-columns: repeat(1, 1fr);
    }
    .game p {
        text-align: center;
    }
    .play-instant-container{
        flex-direction: column;
        padding: 0;
        text-align: start;
    }
    .playing-info-container {
        text-align: center;
    }
    #player-hero{
        position: relative;
        margin: 0 10%;
    }
    #player-heroin{

        margin-left: 0;
        margin-top: -110px;
    }



}

/* Medium(pad/tab) devices query*/
@media screen and (min-width:576.1px) and (max-width:992px) {
    nav {
        flex-direction: column;
        padding: 10% 5%;
    }

    nav ul {
        padding-left: 0;
    }

    .top-banner-container {
        padding: 0 2%;
        gap: 50px;
    }

    .top-banner-title {
        font-size: 38px;
    }

    .btn-primary {
        padding: 15px 30px;
    }

    .btn-secondary {
        padding: 15px 30px;
    }

    .online-game-container{
        padding: 0;
    }
    .online-games {
        grid-template-columns: repeat(2, 1fr);
    }
    .play-instant-container{
        flex-direction: column;
        padding: 0;
        text-align: center;
    }
    .playing-info-container {
        text-align: center;
    }
    #player-hero{
        margin-left: 100px;
    }
    #player-heroin{
        margin-left: -10px;
    }


}